#about {
    padding: 2rem 0;
}

#about h2 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.about__content {
    max-width: 800px;
    margin: 0 auto;
}

.about__content p {
    color: var(--color-light);
    line-height: 1.7;
    margin-bottom: 2rem;
    text-align: left;
}

.about__content p:last-of-type {
    margin-bottom: 2.5rem;
}

.cta-btn {
    display: inline-block;
    color: var(--color-primary);
    background: transparent;
    border: 1px solid var(--color-primary);
    padding: 0.75rem 1.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: var(--transition);
    text-align: center;
}

.cta-btn:hover {
    background: var(--color-primary);
    color: var(--color-bg);
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(77, 181, 255, 0.2);
}

.highlight {
    color: var(--color-white);
    font-weight: 600;
}

.highlight.link {
    color: var(--color-white);
    position: relative;
    text-decoration: none;
    padding-bottom: 3px;
    transition: color 0.3s ease;
    display: inline-block;
    padding-right: 1.1em; /* Adjusted space for the smaller icon */
}

.highlight.link::before {
    content: '↗';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--color-white); /* Changed to white */
    transition: transform 0.3s ease, color 0.3s ease; /* Added color transition */
    font-size: 0.8em; /* Made the arrow smaller */
}

.highlight.link:hover::before {
    transform: translateY(-50%) translateX(3px) rotate(15deg); /* Added rotation */
    color: var(--color-primary); /* Change color on hover */
}

.highlight.link:hover {
    color: var(--color-primary);
}

.highlight.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.highlight.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* ====================== Media Queries (Medium Devices) =========== */
@media screen and (max-width: 1024px) {
    .about__content p {
        margin-bottom: 1.5rem;
    }
    
    .about__content p:last-of-type {
        margin-bottom: 2rem;
    }
    
    .resume__link {
        font-size: 0.85rem;
    }
}

/* ====================== Media Queries (Small Devices) =========== */
@media screen and (max-width: 600px) {
    .about__content p {
        font-size: 0.9rem;
        margin-bottom: 1.2rem;
    }
    
    .about__content p:last-of-type {
        margin-bottom: 1.5rem;
    }
    
    .resume__link {
        font-size: 0.8rem;
        display: block;
        text-align: center;
    }
}
