.app__container {
    display: flex;
    height: 100vh;
}

.app__content {
    flex: 1;
    overflow-y: auto;
    margin-left: 400px;
    padding: 2rem;
    scroll-behavior: smooth;
}

/* ====================== Media Queries (Medium Devices) =========== */
@media screen and (max-width: 1024px) {
    .app__content {
        margin-left: 300px;
        padding: 1.5rem;
    }
}

/* ====================== Media Queries (Small Devices) =========== */
@media screen and (max-width: 768px) {
    .app__container {
        flex-direction: column;
    }
    
    .app__content {
        margin-left: 0;
        padding: 1rem;
    }
} 